* {
    padding:0%;
    margin:0%;
    box-sizing: border-box;
}



div{
    width: 80px;
    height: 40px;
    background-color: greenyellow;
    font-size: 2em;
    color:white;
    text-align:center;
    animation: lasha 3s 
    

}



@keyframes lasha {
    from{background-color: greenyellow;}
    to{background-color: cyan;}
    0% {
        transform:rotate(25deg)
    }
    50%{
        transform: translate(500px)
    }


100%{
    transform:rotate(680deg)
}
    
}