/*შექმენით გვერდი სადაც შეიტანთუკანა ფონზე სურათს და გამოიყენებთ მასზე ნასწავლ თვისებებს*/

body {

    background-image: url(https://s.yimg.com/os/creatr-uploaded-images/2023-05/8a167ec0-f4c8-11ed-9dae-09235241eb4c);
    background-repeat: no-repeat;
    background-size: cover;


}

h1 {
    color:rgba(255, 255, 255, 0.521)
}






























