*{
    padding:0;
    margin:10;


}


div{
    width: 190px;
    height: 40px;
    background-color: blue;
    color:aqua;
    font-family: cursive;
    text-align: center;


}


p{

    width: 150px;
    height: 40px;
    background-color: blue;
    color:aqua;
    font-family: cursive;
    text-align: center;

}



h1{
    width: 300px;
    height: 40px;
    background-color: blue;
    color:aqua;
    font-family: cursive;
    text-align: center;

}



a{
    width: 150px;
    height: 40px;
    background-color: blue;
    color:aqua;
    font-family: cursive;
    text-align: center;

}




i{
    width: 150px;
    height: 40px;
    background-color: blue;
    color:aqua;
    font-family: cursive;
    text-align: center;

}


b{
    width: 150px;
    height: 40px;
    background-color: blue;
    color:aqua;
    font-family: cursive;
    text-align: center;

}



h2,h3,h4{

    width: 150px;
    height: 40px;
    background-color: blue;
    color:aqua;
    font-family: cursive;
    text-align: center;

display: inline-block;
}











