div{
    height: 500px;
    width: 500px;
    background-color: blue;
    border: 7px solid aqua;
    padding: 15px;


}


p{

    

        height:200px;
        width:200px;
        background-color: black;
        border-radius: 50%;
        
        
        
        
       
        
        
}














