.heding-1 {
    color:red
}


.heding-2 {
    color:blue
}


.heding-3 {
    color:rgb(0, 128, 122)
}


.heding-4 {
    color:green
}


.heding-5 {
    color:mediumspringgreen

}


#hi {
    color:yellow
}


#bye {
    color:khaki
}



#i-love-batumi{
    color:hotpink
}



#i-love-goa {
    color:rgb(34, 135, 139)
}





#i-love-valleyball {
    color:rgb(105, 255, 193)
}

