h1:link{
color:blue;
font-weight: bolder;
font-family: cursive;
text-decoration: line-through;

}

p:link {
    color:#287335;
    font-weight: bolder;
    font-family: cursive;
    text-decoration: line-through;
    
    }
    


    h2:link{
        color:blue;
        font-weight: bolder;
        font-family: cursive;
        text-decoration: line-through;
        
        }
        




h3:link{
color:blue;
font-weight: bolder;
font-family: cursive;
text-decoration: line-through;
            
}
            




 h4:link {
color:blue;
font-weight: bolder;
font-family: cursive;
text-decoration: line-through;
}
                

